.user-options {
  position: relative;
  width: 100%;
  padding: 10px 0 60px;
  /* box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08); */
  /* min-height: 100vh; */
  /* background: #2b5876;
  background: -webkit-linear-gradient(to -45deg, #4e4376, #2b5876);
  background: linear-gradient(to -45deg, #4e4376, #2b5876); */
  background: #f6fafd;
}
.user-body {
  height: auto;
  max-width: 960px;
  margin: 0 auto;
}
.user-container {
  height: auto;
  max-width: 960px;
  margin: 0 auto;
}
.user-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.user-flex article {
  margin: 0 10px;
  padding: 20px;
  background: white;
  border: 1px solid #e9ebf8;
  border-radius: 3px;
  box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
  transition: 0.2s ease-in-out;
}

/* .user-flex a article:nth-child(1) {
  background: #6441a5;
  background: linear-gradient(to bottom, #6441a5, #2a0845);
}
.user-flex a article:nth-child(2) {
  background: #4facfe;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
} */

.user-flex article:hover {
  box-shadow: 0 8px 15px 0 rgba(14, 36, 129, 0.1);
  transform: scale(1.1);
}

.user-flex article h1 {
  color: rgba(255, 255, 255, 1);
}

.user-flex article p {
  color: rgba(255, 255, 255, 0.9);
}
.user-home .action-title h1,
.user-home .action-title h2 {
  /* color: white; */
}

.walk-box {
  background: white;
  border: 1px solid #e9ebf8;
  border-radius: 6px;
  box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
  padding: 20px;
  margin-bottom: 10px;
}
.walk-flex {
  padding-top: 0;
}
.walk-flex article h1 {
  color: rgba(0, 0, 0, 0.8);
}

.walk-flex article p {
  color: rgba(0, 0, 0, 0.5);
}

.walk-title {
  position: relative;
  padding-left: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}
.walk-title svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.walk-video {
  width: 100%;
  height: 330px;
  margin: 20px auto 0;
}

.user-info {
  padding-top: 15px;
}

.help-links {
  display: block;
  text-align: center;
}
.help-links:nth-child(1) {
  margin-top: 15px;
}
